@tailwind base;
@tailwind components;
@tailwind utilities;

/* helpers  */
@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply overflow-x-hidden  bg-black font-Roboto text-[1.375rem] text-white;
  }
  h2 {
    @apply m-auto w-fit text-[3rem];
  }
}
@font-face {
  font-family: Sugarpunch DEMO;
  src: url("./../fonts/SugarpunchDEMO.otf");
}

.gg-chevron-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  left: 6px;
  top: 4px;
}
@layer components {
  .circle {
    @apply h-3 w-3 rounded-[50%] bg-white;
  }
  .link {
    @apply flex items-center gap-[0.5rem] rounded-md border border-white px-3 py-1;
  }
  .headers {
    @apply relative text-center font-Slab text-[1.75rem] font-black after:absolute after:top-[120%] after:block after:h-[0.125rem] after:w-full after:rounded-md after:bg-white after:content-[''];
  }
  .link-hover:not(:last-child) {
    @apply hover:after:block hover:after:h-1 hover:after:w-full hover:after:bg-white hover:after:content-[''];
  }
  .link-active {
    @apply after:block after:h-1 after:w-full after:bg-white after:content-[''];
  }
  .background {
    background: linear-gradient(
      90deg,
      rgba(52, 98, 89, 0.65) 0%,
      rgba(52, 98, 89, 0.25) 57.29%,
      rgba(52, 98, 89, 0) 100%
    );
  }
  .background2 {
    border-radius: 81px;
    background: linear-gradient(
      180deg,
      #000 0%,
      rgba(74, 25, 112, 0.25) 71.35%,
      rgba(104, 35, 157, 0) 100%
    );
    transform: rotate(79.039deg);
    width: 1431.644px;
    height: 1262.234px;
    border-radius: 81px;

  }
}

.poly::after {
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
}
